body {
	font-family: 'Slabo 27px', sans-serif;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
}

/* Styling the page header. */
header {
	position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}
#header-text {
	display: flex;
	padding: 0;
	background-color: #ffffee;
	align-items: center;
	cursor: pointer;
}
.header-text {
	font-size: 1.75em;
	display: inline;
	padding-top: 5px;
}
.sub-header {
	font-size: 0.65em;
}
.header_img  img {
	height: 100px;
	width: 100px;
	padding: 0;
	vertical-align: top;
	display: inline-block;
	margin: 0 10px;
}

/* Styling the site navigation. */
.main-menu {
	background-color: #5e361d;
	padding: 0 5px;
	color: #ffffff;
	display: flex;
	box-shadow: 0 0 5px 5px #5e361d;
}

/* Styling the content of each page. */
#page-content {
	background-color: #ffffff;
	padding: 10px 20px;
	text-align: justify;
	margin: 10px auto;
	max-width: 800px;
	z-index: -1;
	display: flex;
	flex-direction: column;
}
@media screen and (min-width: 801px) {
    #page-content {
        flex-direction: row;
    }
    #page-text {
    	margin: 0 25px 0 0;
    }
}
#page-content p {
		margin: 0 0 10px 0;
}
#page-content p:last-of-type {
		margin: 0;
}
#page-text {
	flex: 2;
	min-height: 600px;
}
#contact-details {
	flex: 1;
	margin: 20px 0 10px 0;
}
#contact-info {
	margin: 20px;
	background-color: #ffffee;
	padding: 20px;
	border: 1px solid #5e361d;
	box-shadow: 0 0 5px 5px #5e361d;
	margin: auto;
	max-width: 300px;
}

h1, h2 {
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}
h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

h4 {
	margin: 5px 0;
	text-align: center;
}

.hidden {
	display: none;
}

.menu-item {
	flex: 1;
	display: inline;
	text-align: center;
}
.menu-item:hover {
	flex: 1;
	display: inline;
	text-align: center;
	color: #5e361d;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
    transition: 0.5s;
}

.page-section {
	display: none;
}
.active {
	display: block;
}

footer {
	background-color: #5e361d;
	padding: 0 5px 5px 5px;
	color: #ffffff;
	box-shadow: 0 0 5px 5px #5e361d;
}
.trading-as {
	font-size: 0.6em;
	margin-left: 5px;
}
ul {
	margin: 0;
}