body {
	font-family: 'Oswald', sans-serif;
	background-color: #ffffee;
	margin: 0;
	padding: 0;
}

/* Styling the page header. */
header {
	width: 100%;
	display: flex;
	margin: 0 5%;
}
.header-text {
	font-size: 2em;
	display: inline;
	padding-top: 5px;
}
.sub-header {
	font-size: 0.65em;
}
.header_img  img {
	height: 100px;
	width: 100px;
	padding: 0;
	vertical-align: top;
	display: inline-block;
}

/* Styling the site navigation. */
.main_menu {
	background-color: #5e361d;
	padding: 0 5px 5px 5px;
	color: #ffffff;
}

/* Styling the content of each page. */
.page_content {
	border-radius: 10px;
	box-shadow: 0 0 5px 5px #5e361d;
	margin: 0 5% 5% 5%;
	background-color: #ffffff;
}
.page_content p {
		margin: 0 0 10px 0;
}
.page_content p:last-of-type {
		margin: 0;
}
.page_text {
	padding: 10px;
	text-align: justify;
	margin: 0;
}